1] Lead Mailer AI Agent/Lead Mailer Json.txt
{
  "name": "Lead Mailer Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Mailer Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your name",
              "placeholder": "Dory kay"
            },
            {
              "fieldLabel": "What is the project budget?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "$500-$700"
                  },
                  {
                    "option": "$700-$1200"
                  },
                  {
                    "option": "$1200-$2000"
                  }
                ]
              }
            },
            {
              "fieldLabel": "What is your time frame?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1 month"
                  },
                  {
                    "option": "2 months"
                  },
                  {
                    "option": "3 months"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -720,
        60
      ],
      "id": "f6f043b0-1839-4033-ace5-b31a1152d220",
      "name": "On form submission",
      "webhookId": "699807cd-0c2b-4a5d-9949-72bb8ff456e6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"What is the project budget?\"] }}",
                    "rightValue": "$1200-$2000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b508d4bd-2149-493b-856f-d97c299d36df"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6bb17a4-f19a-449a-8230-6b9a1478a217",
                    "leftValue": "={{ $json[\"What is the project budget?\"] }}",
                    "rightValue": "$500-$700",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "825ac08c-a052-4ab6-a070-24e7141189ba",
                    "leftValue": "={{ $json[\"What is the project budget?\"] }}",
                    "rightValue": "$700-$1200",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium Budget"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        80
      ],
      "id": "7c370c82-c8b0-4ab1-b79c-37220416c793",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "test@gmail.com",
        "subject": "=New Automation Lead {{ $json['What is your name'] }} ",
        "emailType": "text",
        "message": "=Hey dear, You have a new lead!\n\nThey have a new project for {{ $json['What is your time frame?'] }}.\nTheir name is {{ $json['What is your name'] }}.\nTheir project budget is {{ $json['What is the project budget?'] }}.\n\nThey sent the email at {{ $json.submittedAt }}.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        -140
      ],
      "id": "da2a6222-5cac-43c4-b4ac-7c55e1455a94",
      "name": "Send HB",
      "webhookId": "64b4a0b1-50d8-4c3d-8b13-2565ce51b17a",
      "credentials": {
        "gmailOAuth2": {
          "id": "bgm0kU2drx7owtI3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4647257553883786224"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        40,
        60
      ],
      "id": "23a7fa87-a517-4e1c-979c-0ecb62cbc9ad",
      "name": "LB Label",
      "webhookId": "01cdc6c2-22ea-45ea-8b32-a3c06aaaaf70"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8233801249662515181"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        40,
        260
      ],
      "id": "cd170b34-494a-497a-bb83-17d300133c39",
      "name": "MB Label",
      "webhookId": "09746b9c-ac54-422a-93fd-4d61403b015e",
      "credentials": {
        "gmailOAuth2": {
          "id": "bgm0kU2drx7owtI3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4755462215504593"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        40,
        -140
      ],
      "id": "64d6e98e-d437-4db6-8b88-e10205d0914b",
      "name": "HB Label",
      "webhookId": "94692a8c-8674-466b-b822-33efc9b0cd39",
      "credentials": {
        "gmailOAuth2": {
          "id": "bgm0kU2drx7owtI3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "test@gmail.com",
        "subject": "=New Automation Lead {{ $json['What is your name'] }} ",
        "emailType": "text",
        "message": "=Hey dear, You have a new lead!\n\nThey have a new project for {{ $json['What is your time frame?'] }}.\nTheir name is {{ $json['What is your name'] }}.\nTheir project budget is {{ $json['What is the project budget?'] }}.\n\nThey sent the email at {{ $json.submittedAt }}.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        60
      ],
      "id": "1dfbe50b-79a3-4f1c-9618-77f14b3edb8d",
      "name": "Send LB",
      "webhookId": "64b4a0b1-50d8-4c3d-8b13-2565ce51b17a",
      "credentials": {
        "gmailOAuth2": {
          "id": "bgm0kU2drx7owtI3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "test@gmail.com",
        "subject": "=New Automation Lead {{ $json['What is your name'] }} ",
        "emailType": "text",
        "message": "=Hey dear, You have a new lead!\n\nThey have a new project for {{ $json['What is your time frame?'] }}.\nTheir name is {{ $json['What is your name'] }}.\nTheir project budget is {{ $json['What is the project budget?'] }}.\n\nThey sent the email at {{ $json.submittedAt }}.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        260
      ],
      "id": "51a3ccec-a727-4332-9f85-feaf156dd878",
      "name": "Send MB",
      "webhookId": "64b4a0b1-50d8-4c3d-8b13-2565ce51b17a",
      "credentials": {
        "gmailOAuth2": {
          "id": "bgm0kU2drx7owtI3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 3) Send Emails to your inbox\n* Connect your gmail account using credentials. (this is a separate process)\n* Use the categories from the previous node to send emails.",
        "height": 220,
        "color": 4
      },
      "id": "2d64202b-c088-4f98-878b-479476e036c9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 4) Add Label Nodes\nLogin to your gmail inbox\n* Create a label with \"+\" icon\n* Change the color of your choice\n* In this option \"Label Names or IDs\" -> Select the category to match with the Classification Agent Node.",
        "height": 180,
        "width": 380,
        "color": 4
      },
      "id": "6304a301-188b-4244-a100-1015a09fe3ff",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 5) Add-on\n* You can add more category of your choice!",
        "width": 220,
        "color": 4
      },
      "id": "06772159-265b-44a3-965a-b56c00a63176",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2) Set up classification rules\n* The submitted data is passed to a Switch node, which classifies the type of inquiry. ",
        "width": 200,
        "color": 4
      },
      "id": "13b8ffb9-f3bd-41cf-9ae6-545419584df0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 1) Form Trigger node\n* A public-facing web form is created using the Form Trigger node. You can submit data such as name, email, and inquiry details. ",
        "width": 200,
        "color": 4
      },
      "id": "cec0c2ba-af35-4912-ab4e-58fd53d6066c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        -120
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send HB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send LB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send MB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HB": {
      "main": [
        [
          {
            "node": "HB Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send MB": {
      "main": [
        [
          {
            "node": "MB Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LB": {
      "main": [
        [
          {
            "node": "LB Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4194677a-6435-4339-a14c-5f0f91d14863",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8bebc4a5e6b90e1bd3528a40f55368049a79cf36a6b2380d2061ab90aee418e0"
  },
  "id": "i1ajMoYHAS4WPToB",
  "tags": []
}
